
<h1>Fruityvice</h1>

<% if @fruits %>  
  <ul>
    <% @fruits.each do |fruit| %>
      <li>
        <h2 class="hover:bg-blue-400 max-w-[90%] truncate rounded-md px-2">
          <%= link_to fruit['name'], fruit_info_path(fruit['name']) %> 
        </h2>
        
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No fruits found!</p>
<% end %>
