
<h1>Fruityvice</h1>

<% if @fruits %>  
  <ul>
    <% @fruits.each do |fruit| %>
      <li>
        <%= fruit['name'] %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No fruits found!</p>
<% end %>
