<section class="container">
  <div class='logo flex'>
   
    <h1>Fruityvice API Wrapper</h1>
     <%= image_tag("fruity-vice-food-api.png") %>
  </div>
  

  <% if @fruits %>  
    <ul class="fruit-list">
      <% @fruits.each_slice((@fruits.size/3.0).ceil) do |slice| %>
        <div class="column">
          <% slice.each do |fruit| %>
            <li>
              <h2 class="hover:bg-blue-400 max-w-[90%] truncate rounded-md px-2">
                <%= link_to fruit['name'], fruit_info_path(fruit['name']) %> 
              </h2>
            </li>
          <% end %>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p>No fruits found!</p>
  <% end %>

  <div class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
  <%= link_to "View data", all_data_path %>
  </div>
</section>
